$very-dark-blue: #19181F;

@import "universal";

@mixin display {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column
}

body {
    @include display();

    #header {
        background: rgba(0, 0, 0, .9);
        position: fixed;
        top: 0rem;
        width: 100%;
        z-index: 1;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        // flex-direction: column;
        border-bottom: solid 1px rgba(255, 255, 255, .4);
        padding: 10px;
        margin-bottom: 10px;

        form {
            background-color: #ffffff;
            border-radius: 20px;
            padding: 0 10px;
        }

        #search {
            height: 30px;
            border-radius: 20px;
            // width: 300px;
            border: none;
            padding-left: 5px;

            &:focus, &:hover {
                border: none;
                outline: none;
            }
        }

        ul {
            display: none;
            li {
                list-style: none;
                margin-left: 20px;                
                a {
                    text-decoration: none;
                    color: #ffffff;
                    opacity: 60%;

                    &:hover {
                        opacity: 100%;
                    }
                }
            }
        }
    }

    #container {
        margin-top: 100px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;

        .card {
            margin: 2rem;
            width: min-content;
            height: 25rem;
            transition: 0.3s linear;
            background-color: #cfc9c9;
            border-radius: 8px;
        
        
            .img {
                border-top-right-radius: 8px;
                border-top-left-radius: 8px;
                width: 200px;
                // border: 1px solid #ffffff;
            }

            .name {
                color: $very-dark-blue;
                padding: 10px;
            }
            &:hover {
                cursor: pointer;
                transform: scale(1.02);
                img {
                    border: 1px solid #ffffff;
                }
                
            }
        }
    }

    .overlay {
        background-color:rgba(0,0,0,0.96);
        width:100%;
        height:100%;
        position:fixed;
        top:0;
        left:0;
        right:0;
        bottom:0;
        overflow: auto;
        z-index:2;
        display: none;
        padding: 20px;

        .close{
            color:#fff;
            position: absolute;
            top:0;
            right:0;
            margin: 20px 20px 0 0;
            transform: scale(2);
            cursor: pointer;
        
            &:hover{
                color:#00796b;
                transition:all 0.6s ease-in;
                transform: scale(3) rotate(360deg);
            }
        }


        .info {

            .movie-thumbnail {
                img{
                    width: 300px;
                    height: 400px;
                }

                .submit-btn {
                    background-color: DodgerBlue;
                    border: none;
                    color: white;
                    padding: 8px 20px;
                    cursor: pointer;
                    font-size: 20px;
                    width: 50%;

                    &:hover {
                    background-color: RoyalBlue;
                    }
                }
            }

            .trailer {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                iframe {
                    width: 400px;
                }
            }

            h1 {
                margin-top: 15px;
            }

            h2 {
                margin-top: 15px;
            }

            p {
                font-size: 15px;
                line-height: 1.2rem;
            }
        }
    }
}

@media only screen and (min-width: 800px) {

    body {

        #header {
            ul {
                display: flex;
            }
        }
        .overlay {
            align-items: center;
            height: 100%;
    
            .info{
                display: flex;
                flex-direction: row;
                // align-items: center;
                justify-content: center;
                margin: 40px;
            
                .movie-thumbnail {
                    margin-right:50px;
    
                    img {
                        width: 350px;
                    }
                }
            
                .movie-details {
                    width: min-content;
            
                    h1 {
                        margin-bottom: 10px;
                    }
            
                    p {
                        line-height: 1.2rem;
                        // letter-spacing: .5px;
                        // font-size: 15px;
                    }
            
                    h2 {
                        margin-top: 50px;
                    }
            
                    .trailer {
                        // margin-top: 20px;
                    }
            
                }
            }
        }
    }
}











  



  
  



  